{% extends "layout.html" %} {% block body %}
<p>
  Hello!! I'm Emmanuel Kamau currently studying Mechatronics Enginnering at
  JKUAT where I am a second year undergraduate student
</p>
<p>
  I'm highly passionate about Artificial Intelligence and coding. Currently
  specialized in website development both front end development and back end
  development.
</p>
<div>
  <ul>
    <p class="headings">Skills</p>
    <li>Python</li>
    <li>JavaScript</li>
    <li>Html</li>
    <li>CSS</li>
    <li>SQL</li>
    <li>MySQL</li>
    <li>Flask (python framework)</li>
  </ul>
</div>
{% endblock %}
